.header {
  position: fixed;
  z-index: 999;
  top: 0;
  left: 0;
  width: 100%;
  height: 100px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: center;
}

.content {
  width: 80rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 50px;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}

.links {
  font-size: 18px;
  display: flex;
  padding: 0 20px;
}

.link {
  display: block;
  padding: 0 20px;
  height: 100%;
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: block;
  padding: 10px 20px;
  background: #020F3D;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
}