@import '../../styles/variables.scss';

.customNavbar {
  padding: 26px 20px;
  background: #fff;
  border-bottom: 1px solid #ccc;
  display: flex;
  justify-content: space-between;
}

.logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 150px;
  height: 100%;
}

.toggler {
  &:focus {
    box-shadow: none;
  }
}

.nav {
  width: 100%;
  display: flex;
  justify-content: center;
}

.link {
  cursor: pointer;
  display: block;
  padding: 0 20px;
  height: 100%;
  font-size: 18px;
  text-align: center;
}

@media (max-width: $sm-breakpoint) {
  .nav {
    margin: 20px 0;
  }

  .link {
    padding: 10px;
  }
}

.profile {
  display: flex;
  justify-content: center;
  align-items: center;
}

.login {
  display: block;
  padding: 10px 20px;
  background: #020F3D;
  border: 1px solid #fff;
  border-radius: 40px;
  color: #fff;
}