.comment {
  margin-bottom: 20px;

  &__title {
    font-size: 18px;
    font-weight: 700;
    margin-bottom: 15px;
  }

  &__email {
    margin-left: 20px;
    font-size: 12px;

    span {
      font-size: 16px;
      font-weight: 700;
    }
  }

  &__content {
    background: #E0E6FC;
    border-radius: 20px;
    padding: 20px;
  }
}