@import '../../styles/variables.scss';

.post {
  margin: 50px 0;
}

.image {
  width: 100%;
  height: auto;
}

.content {
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: $dark-blue-color;
}

.body {
  font-weight: 500;
  font-size: 18px;
  color: $blue-text-color;
}

.createdBy {
  font-size: 18px;
  color: $dark-blue-color;

  p {
    margin-bottom: 5px;
  }

  &__email {
    color: $blue-text-color;
  }
}