@import '../../styles/variables.scss';

.post {
  margin: 50px 0;
}

.image {
  width: 100%;
}

.content {
  padding: 0 20px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}

.title {
  font-weight: 700;
  font-size: 36px;
  color: $dark-blue-color;
}

.body {
  font-weight: 500;
  font-size: 18px;
  color: $blue-text-color;
}

.link {
  display: block;
  text-align: center;
  font-size: 20px;
  color: #fff;
  background: #4D76B8;
  border-radius: 20px;
  padding: 15px;
  margin: 0 auto 0 0;
  width: 100%;
  transition: all $transition-duration;

  &:hover {
    color: #fff;
    transform: scale(1.01);
  }
}